.project {
  background-color: #2f3133;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  //modal
  .children {
    padding: 0.25rem 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    .name {
      color: #76b041;
      margin: 0;
    }
  }
  .technologies {
    color: #76b041;
  }
  .title {
    font-size: 1.5rem;
    padding: 2%;
  }
  p {
    font-size: 1.3rem;
    margin: 4% 25px 0 25px;
  }

  .project-image {
    width: 100%;
  }
  .group1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-grow: 2;
    gap: 0.5rem;
  }

  .links {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 0;
    width: 150px;

    .github-icon {
      width: 40px;
      height: 40px;
      border: white solid 1px;
      border-radius: 5px;
      background-color: white;
      &:hover {
        border-color: #76b041;
        background-color: #76b041;
      }
    }
    a {
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
      &:hover {
        color: #76b041;
      }
    }
  }
}
@media (orientation: landscape) and (max-width: 900px) {
  .project {
    background-color: #2f3133;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    .title {
      font-size: 1.5rem;
      padding: 2%;
    }
    p {
      font-size: 1.3rem;
      margin: 4% 25px 0 25px;
    }
    .project-image {
      //max-width: 375px;
      width: 100%;
    }
    .links {
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      margin-bottom: 5px;
      width: 150px;
      .github-icon {
        width: 40px;
        height: 40px;
      }
      a {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
        &:hover {
          color: #76b041;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .project {
    background-color: #2f3133;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 95%;
    margin: 3%;
    .title {
      font-size: 1.3rem;
      padding: 2%;
    }
    p {
      font-size: 1.1rem;
      margin: 4% 25px 0 25px;
    }
    .project-image {
      width: 100%;
    }
    .links {
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      margin-bottom: 5px;
      width: 150px;
      .github-icon {
        width: 40px;
        height: 40px;
      }
      a {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
        &:hover {
          color: #76b041;
        }
      }
    }
  }
}
