.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e2529;
  .skills-container {
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10%;
  }
}
