.modal {
  position: fixed;

  z-index: 1;

  .content {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 37;
    top: 10vh;
    left: 12.5vw;
    background-color: black;
    width: 75vw;
    height: 80vh;
    overflow: scroll;
  }
  .close-button {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: 700;
    border: none;
    margin: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }

  .background {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 200vw;
    height: 100vh;
    z-index: 2;
    top: 0;
    margin-left: -50vw;
    margin-top: -50vh;
    left: 0;
  }
}
