.header {
  top: 0;
  background-color: #171d20;
  color: white;
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 2;
  .list-container {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0 30% 0 30%;

    padding: 0.5%;
    li {
      padding: 0.5%;
      font-size: 1.4em;
      border-bottom: 2px solid #171d20;

      &:hover {
        border-bottom: 2px solid #76b041;
      }
    }
  }
}
