@import "../../colors.scss";
.header {
  top: 0;
  left: 0;
  background-color: $background1;
  color: white;
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 1;

  .list-container {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0 30% 0 30%;

    padding: 0.5%;
    li {
      padding: 0.5%;
      font-size: 1.4em;
      border-bottom: 2px solid $background1;
      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        border-bottom: 2px solid $accent3;
      }
    }
  }
  .burger {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    top: 0;
    background-color: #171d20;
    color: white;
    position: fixed;
    width: 100vw;
    height: 60px;

    .burger-line {
      width: 35px;
      height: 5px;
      background-color: white;
      margin: 3px 0;
    }
    .list-container {
      display: none;
      list-style: none;
      justify-content: center;
      align-items: center;
      background-color: #171d20;
      margin: 0;
      width: 100vw;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        justify-content: center;
        width: 100vw;
        padding: 0;
        background-color: #171d20;

        font-size: 1.4em;
        border-bottom: 2px solid #171d20;
        &:hover {
          border-bottom: 2px solid white;
          background-color: white;
          color: #171d20;
        }

        a {
          padding: 0.5%;
          width: 100%;
          text-align: center;
          &:hover {
            border-bottom: 2px solid white;
            background-color: white;
            color: #171d20;
          }
        }
      }
    }
    .burger {
      width: 35px;
      display: flex;
      flex-direction: column;
      margin: 13px 15px;
    }
    .dflex {
      display: flex;
      flex-direction: column;
    }
    .dnone {
      display: none;
    }
  }
}
